<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title %> </title>
</head>
<body>
      
        <h1>This is view page</h1>
        
        <% user.forEach((users,index) => { %>
                <!--  -->
                <li><%= users.name %> |  <%= users.age%>  | <%= users.college %></li> 
                <!--  -->
                <% }) %>
</body>
</html>